APP_NAME=Makonon
APP_ENV=production
APP_DEBUG=false
APP_URL=https://votre-domaine.com

LOG_CHANNEL=daily
LOG_LEVEL=error

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=makonon_transfert
DB_USERNAME=root
DB_PASSWORD=

SENTRY_LARAVEL_DSN=https://votre-dsn.sentry.io

BACKUP_MAIL_TO=admin@votre-domaine.com

CACHE_DRIVER=redis
QUEUE_CONNECTION=redis
SESSION_DRIVER=redis

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=eu-west-3
AWS_BUCKET=your-backup-bucket
